.User {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 200px;
  background-color: #83d0f2;
  text-align: center;
  padding: 20px 10px;
  font-weight: bold;
}

.StatusList {
  padding: 10px;
  background-color: gray;
  line-height: 1.5;
  margin-top: 10px;
}

.Tooltip {
  position: absolute;
  top: -20px;
  left: 20%;
  background-color: orange;
  line-height: 2.0;
  width: 60%;
}
